/* src/styles/Navbar.module.css */

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Space between buttons */
    padding: 10px;
    background-color: #222;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-bottom: 1px solid #333;
    justify-items: center; /* Center-align items in each column */
}

.navButton {
    width: 100%; /* Make buttons take full width of grid column */
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    text-align: center;
}

.navButton:hover {
    background-color: #fff;
    color: #000;
}
